.nav-ittem{
    font-size: 20px;
    font-weight: 400;
    margin-left: 20%;
}
#login {
    padding: 5px 10px ;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    background-color: black;
    border: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    margin-right: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  #login>a{
    color:#1d8d91;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  #login>a:hover{
    color:azure;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  #login:hover {
    background-color:#000;
    box-shadow: 0px 15px 20px rgb(44, 43, 43);
    transform: translateY(-7px);
  }
  
  #login:active {
    transform: translateY(-1px);
  }
  
  #signup {
    padding: 5px 10px ;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    background-color:black;
    border: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    margin-right: 40px;
    margin-left: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  #signup>a{
    color: #1d8d91;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  #signup>a:hover{
    color:azure;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  #signup:hover {
    background-color:#000;
    box-shadow: 0px 15px 20px rgb(44, 43, 43);
    transform: translateY(-7px);
  }
  
  #signup:active {
    transform: translateY(-1px);
  }
  #profile{
    font-size: 20px;
    text-transform: uppercase;
    background-color:aliceblue;
    border: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
/* form style */
body{
    margin:0 auto;
}

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    /* .card-registration .select-arrow {
    top: 13px;
    } */
    .mt-4,.pt-2 {
        color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #47bdbd;
        border-color: #479494;
        margin-left: 270px;
        width: 100px;
        height: 50px;
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
    }
    .mt-4,.pt-2:hover {
        color: white;
        box-shadow: 0px 10px 10px #47bdbd;
        transform: translateY(-10px);
        background-color:#479494;
        border-color:#479494;
    }
    .card-body,.p-4,.p-md-5{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #toLog{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 15px;
    }
    